In [3]:
import pandas as pd

In [ ]:
### HW1: How can you remove duplicate values in a dataset in Python?

In [ ]:
## Identify duplicates records in dataset df
dupes = df.duplicated()

## Check how many duplicates
sum(dupes)

## Remove duplicates
df_unique = df.drop_duplicates()

In [ ]:
### HW2: Determining the overall acceptnce rate (Both Python and SQL)

In [7]:
## creating new dataframe
friend_request = pd.DataFrame(columns = ['requestor_id', 'time','sent_to_id'])
friend_request

Empty DataFrame
Columns: [requestor_id, time, sent_to_id]
Index: []

In [8]:
request_accepted = pd.DataFrame(columns = ['time', 'acceptor_id', 'requestor_id'])
request_accepted

Empty DataFrame
Columns: [time, acceptor_id, requestor_id]
Index: []

In [ ]:
## Calculating acceptance rate = number of accepted requests / number of total requests
rate = len(request_accepted)/len(friend_request)

In [ ]:
## SELECT * INTO TEMP_TABLE
## FROM friend_request fr
## LEFT JOIN request_accepted ra
## ON fr.requestor_id = ar.requestor_id AND fr.sent_to_id = ra.acceptor_id

## SELECT COUNT(acceptor_id)/COUNT(*)
## FROM TEMP_TABLE

In [ ]:
### HW4: Identifying card issuers

In [16]:
## Create a list of fake cc#
card_no = ['4175004175004172',
           '4917491749174917',
           '346416800707698',
           '376416800707698',
           '37641680070769832112',
           '36641680070769',
           '54545641680070769']
## Check each element within the list
for i in card_no:
    if i[0] == '4' and len(i)==16:
        if i[0:4] in ('4026','4405','4508','4844','4913','4917') or i[0:6]=='417500':
            print(i+' is issued by VISAELECTRON')
        else:
            print (i+' is issued by VISA')
    elif i[0:2] =='36' and len(i)==14:
        print(i+' is issued by Diners Club')
    elif i[0:2] in ('34','37') and len(i) == 15:
        print(i+' is issued by AMEX')
    else:
        print(i+' not found')

4175004175004172 is issued by VISAELECTRON
4917491749174917 is issued by VISAELECTRON
346416800707698 is issued by AMEX
376416800707698 is issued by AMEX
37641680070769832112 not found
36641680070769 is issued by Diners Club
54545641680070769 not found